<section class="choose">
  <div class="choose-container container">
    <h2 class="choose-title">Why Choose Product?</h2>
    <ul class="choose-list">
      <li class="choose-list-item">
        <h3 class="choose-list-item-title">Special Business</h3>
        <p class="choose-list-item-text">
          Product helps you see how many more days you need to work to reach
          your financial goal for the month and year.
        </p>
      </li>
      <li class="choose-list-item">
        <h3 class="choose-list-item-title">Instant Result</h3>
        <p class="choose-list-item-text">
          Product helps you see how many more days you need to work to reach
          your financial goal for the month and year.
        </p>
      </li>
      <li class="choose-list-item">
        <h3 class="choose-list-item-title">Fastest way to organize</h3>
        <p class="choose-list-item-text">
          Product helps you see how many more days you need to work to reach
          your financial goal for the month and year.
        </p>
      </li>
    </ul>
  </div>
</section>
