<section class="effects">
  <div class="effects-container container">
    <h2 class="effects-title">
      Product is being used with great effects alongside:
    </h2>
    <div class="effects-info-container">
      <img
        class="effects-info-img"
        src="../image/alongside/devices.svg"
        alt="devices"
      />
      <ul class="effects-info-list">
        <li class="effects-info-list-item">
          <h3 class="effects-info-list-item-title">Enterpreneur</h3>
          <p class="effects-info-list-item-text">
            Product is a great way to help medium and samall enterprise owners
            achieve their goals
          </p>
        </li>
        <li class="effects-info-list-item">
          <h3 class="effects-info-list-item-title">Accountants</h3>
          <p class="effects-info-list-item-text">
            Whether you are working on contract with clients, or on other key
            accounting documents, Product is for you
          </p>
        </li>
        <li class="effects-info-list-item">
          <h3 class="effects-info-list-item-title">Universities</h3>
          <p class="effects-info-list-item-text">
            Organize university projects and have documents easily graded online
            with Product
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
