<footer class="footer">
  <div class="footer-container container">
    <div class="footer-info-container">
      <div class="footer-logo-container">
        <a class="footer-logo-container-link" href="">
          <img
            class="footer-logo-container-link-img"
            src="./image/logo.svg"
            alt="logo"
            width="40"
            height="36"
          />
          <p class="footer-logo-container-link-text">Product</p>
        </a>
        <ul class="footer-logo-container-list">
          <li class="footer-logo-container-list-item">
            <svg
              class="footer-logo-container-list-item-svg"
              width="25"
              height="25"
            >
              <use href="/image/icons.svg#icon-instagram"></use>
            </svg>
          </li>
          <li class="footer-logo-container-list-item">
            <svg
              class="footer-logo-container-list-item-svg"
              width="25"
              height="25"
            >
              <use href="/image/icons.svg#icon-facebook"></use>
            </svg>
          </li>
          <li class="footer-logo-container-list-item">
            <svg
              class="footer-logo-container-list-item-svg"
              width="25"
              height="25"
            >
              <use href="/image/icons.svg#icon-twitter"></use>
            </svg>
          </li>
        </ul>
      </div>
      <div class="footer-nav-container">
        <p class="footer-nav-container-text">Resource</p>
        <ul class="footer-nav-container-list">
          <li class="footer-nav-container-list-item">About Us</li>
          <li class="footer-nav-container-list-item">Blog</li>
          <li class="footer-nav-container-list-item">Contact</li>
          <li class="footer-nav-container-list-item">FAQ</li>
        </ul>
      </div>
      <div class="footer-stuff-container">
        <p class="footer-stuff-container-text">Legal Stuff</p>
        <ul class="footer-stuff-container-list">
          <li class="footer-stuff-container-list-item">Disclaimer</li>
          <li class="footer-stuff-container-list-item">Financing</li>
          <li class="footer-stuff-container-list-item">Privacy Policy</li>
        </ul>
      </div>
      <div class="footer-form-container">
        <p class="footer-form-container-text">
          knowing you're always on the best energy deal.
        </p>
        <form class="footer-form">
          <label class="footer-form-label">
            <svg class="footer-form-svg" width="16" height="24">
              <use href="/image/icons.svg#icon-mobile-screen"></use>
            </svg>
            <input
              class="footer-form-input"
              type="tel"
              placeholder="Enter your phone number"
            />
          </label>
          <button class="footer-form-btn" type="submit">Sign up Now</button>
        </form>
      </div>
    </div>
    <p class="footer-text">Made With Love By Figmaland All Right Reserved</p>
  </div>
</footer>
