<header class="header">
  <div class="container header-container">
    <a class="header-logo-link">
      <img
        class="header-logo-img"
        src="./image/logo.svg"
        alt="logo"
        width="40"
        height="36"
      />
      <p class="header-logo-text">Product</p>
    </a>
    <nav class="header-nav">
      <li class="header-nav-item">
        <a class="header-nav-item-link active" href="">Product</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-item-link" href="">Pricing</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-item-link" href="">Customers</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-item-link" href="">Resources</a>
      </li>
    </nav>
    <ul class="header-btn-list">
      <li class="header-btn-list-item">
        <button class="header-btn-list-item-btn-in" type="button">
          Sign In
        </button>
      </li>
      <li class="header-btn-list-item">
        <button class="header-btn-list-item-btn-up" type="button">
          Sign Up
        </button>
      </li>
    </ul>
  </div>
</header>
