<section class="work">
  <div class="work-container container">
    <h2 class="work-title">How Product Work?</h2>
    <ul class="work-list">
      <li class="work-list-item">
        <div class="work-list-container">
          <img
            class="work-list-container"
            src="../image/work/mac-1.png"
            alt="mac-1"
          />
          <div class="work-info-container">
            <h4 class="work-sub-title">STEP 1</h4>
            <h3 class="work-info-title">Apply for a product</h3>
            <p class="work-info-text">
              Completing our easy step-by-step application form gives you access
              to multiple business with multiple products. We analyse your
              business through our proprietary credit analysis technology
            </p>
          </div>
        </div>
      </li>
      <li class="work-list-item">
        <div class="work-list-container">
          <div class="work-info-container">
            <h4 class="work-sub-title">STEP 2</h4>
            <h3 class="work-info-title">Pay fully refundable</h3>
            <p class="work-info-text">
              Product will contactting you instantly to receive payment of the
              Application Fee. if no offer of product is available, your fee
              will be fully refunded.
            </p>
          </div>
          <img
            class="work-list-container"
            src="../image/work/mac-2.png"
            alt="mac-2"
          />
        </div>
      </li>
      <li class="work-list-item">
        <div class="work-list-container">
          <img
            class="work-list-container"
            src="../image/work/mac-3.png"
            alt="mac-3"
          />
          <div class="work-info-container">
            <h4 class="work-sub-title">STEP 3</h4>
            <h3 class="work-info-title">Completion</h3>
            <p class="work-info-text">
              Product will continue to liase between borrower and manager to
              procees and complete a quick and efficient settlement
            </p>
          </div>
        </div>
      </li>
    </ul>
    <button class="work-btn" type="button">Get in touch with us</button>
  </div>
</section>
