<section class="managment">
  <div class="managment-container container">
    <div class="info-container">
      <h3 class="info-container-sub-title">Effortless Validation for</h3>
      <h2 class="info-container-title">Management</h2>
      <p class="info-container-text">
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul class="info-container-list">
        <li class="info-container-list-item">
          <h3 class="info-container-list-item-title">Accessory makers</h3>
          <p class="info-container-list-item-text">
            While most people enjoy casino gambling, sports betting, lottery and
            bingo playing for the fun
          </p>
        </li>
        <li class="info-container-list-item">
          <h3 class="info-container-list-item-title">Alterationists</h3>
          <p class="info-container-list-item-text">
            If you are looking for a new way to promote your business that won’t
            cost you more money
          </p>
        </li>
      </ul>
    </div>
    <img
      class="managment-img"
      src="./image/management/management.svg"
      alt="managment-img"
    />
  </div>
</section>
