<section class="offer">
  <div class="offer-container container">
    <h2 class="offer-title">
      Join thousand of other who have already received offers
    </h2>
    <div class="offer-main-container">
      <div class="offer-info-container">
        <h3 class="offer-info-container-title">Business</h3>
        <ul class="offer-info-container-list">
          <li class="offer-info-container-list-item.">
            <p class="offer-info-container-list-item-text">Cash Flow</p>
          </li>
          <li class="offer-info-container-list-item.">
            <p class="offer-info-container-list-item-text">Asset Backed</p>
          </li>
          <li class="offer-info-container-list-item.">
            <p class="offer-info-container-list-item-text">
              Receivables Finance
            </p>
          </li>
        </ul>
        <h4 class="offer-sub-title">Find the best business product</h4>
      </div>
      <div class="offer-info-container">
        <h3 class="offer-info-container-title2">Enterprise</h3>
        <ul class="offer-info-container-list">
          <li class="offer-info-container-list-item.">
            <p class="offer-info-container-list-item-text">Site Acquisition</p>
          </li>
          <li class="offer-info-container-list-item.">
            <p class="offer-info-container-list-item-text">Bridge</p>
          </li>
          <li class="offer-info-container-list-item.">
            <p class="offer-info-container-list-item-text">
              Development Financing
            </p>
          </li>
        </ul>
        <h4 class="offer-sub-title">Find the best business product</h4>
      </div>
    </div>
  </div>
</section>
