<section class="company">
  <div class="company-container container">
    <h2 class="company-title">Our Clients</h2>
    <ul class="company-list">
      <li class="company-list-item">
        <img
          class="company-list-item-img"
          src="./image/company/airbnb.svg"
          alt="airbnb"
        />
      </li>
      <li class="company-list-item">
        <img
          class="company-list-item-img"
          src="./image/company/google.svg"
          alt="google"
        />
      </li>
      <li class="company-list-item">
        <img
          class="company-list-item-img"
          src="./image/company/microsoft.svg"
          alt="microsoft"
        />
      </li>
      <li class="company-list-item">
        <img
          class="company-list-item-img"
          src="./image/company/fedex.svg"
          alt="fedex"
        />
      </li>
    </ul>
  </div>
</section>
