<section class="process">
  <div class="process-container container">
    <h2 class="process-title">Quick & Easy Process</h2>
    <p class="process-text">
      Do you require some help for your project: Conception workshop,
      prototyping, marketing strategy, landing page, Ux/UI?
    </p>
    <ul class="process-list">
      <li class="process-list-item">
        <img
          class="process-list-item-img"
          src="./image/process/expert-1.png"
          alt="expert-1"
        />
        <p class="process-list-item-text">I can take care of your pitch</p>
      </li>
      <li class="process-list-item">
        <p class="process-list-item-text">I can prototype your app</p>
        <img
          class="process-list-item-img"
          src="./image/process/expert-2.png"
          alt="expert-2"
        />
      </li>
      <li class="process-list-item">
        <p class="process-list-item-text">I can take care of your pitch</p>
        <img
          class="process-list-item-img"
          src="./image/process/expert-3.png"
          alt="expert-3"
        />
      </li>
      <li class="process-list-item">
        <img
          class="process-list-item-img"
          src="./image/process/expert-4.png"
          alt="expert-4"
        />
        <p class="process-list-item-text">I can help marketing strategy</p>
      </li>
    </ul>
    <button class="process-btn" type="button">Contact our expert</button>
  </div>
</section>
