<section class="support">
  <div class="support-container container">
    <img
      class="support-img"
      src="./image/customer/customer.svg"
      alt="customer-img"
    />
    <div class="support-info-container">
      <h3 class="support-sub-title">Easier decision making for</h3>
      <h2 class="support-title">Customer Support</h2>
      <p class="support-text">
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul class="support-list">
        <li class="support-list-item">
          <p class="support-list-item-text">
            Never worry about overpaying for your energy again.
          </p>
        </li>
        <li class="support-list-item">
          <p class="support-list-item-text">
            We will only switch you to energy companies that we trust and will
            treat you right
          </p>
        </li>
        <li class="support-list-item">
          <p class="support-list-item-text">
            We track the markets daily and know where the savings are.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
