.enterprice {
  background: linear-gradient(180deg, #f6f6f6 0%, rgba(246, 246, 246, 0) 100%);
}

.enterprice-container {
  padding-bottom: 51px;
  padding-top: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.enterprice-sub-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #22343d;
  margin-bottom: 16px;
}
.enterprice-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  margin-bottom: 8px;
}
.enterprice-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #22343d;
  margin-bottom: 32px;
}
.enterprice-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 8px;
  width: 224px;
  height: 44px;
  background-color: #02897a;
}
