.header {
}
.header-container {
  display: flex;
}
.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-right: 237px;
}
.header-logo-img {
}
.header-logo-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
}
.header-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-right: auto;
}
.header-nav-item-link {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  padding: 26px 0;
}

.active {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}

.header-btn-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
}
.header-btn-list-item {
}
.header-btn-list-item-btn-in {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
  background-color: transparent;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  min-width: 105px;
  height: 42px;
}

.header-btn-list-item-btn-up {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  background-color: #02897a;
  border: none;
  border-radius: 4px;
  min-width: 113px;
  height: 42px;
}
